.add-footage-card {
  aspect-ratio: 16 / 9;
  background-color: var(--color-blue-900);
  border: var(--stroke-width-md) solid var(--color-border-border-default);
  border-radius: var(--radius-md);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.2s;
}

.add-footage-card:hover {
  border-color: var(--color-border-border-focused);
  background-color: var(--color-surface-secondary-button-surface-hover);
}

.add-icon {
  font-size: var(--font-size-heading-01);
  color: var(--color-icon-primary);
  margin-bottom: var(--spacing-xs);
}

.add-label {
  font-size: var(--font-size-label);
  color: var(--color-text-label);
  font-weight: var(--font-weight-label);
}
